.background{
  height: 100%;
  background-image: url(https://img.freepik.com/free-photo/bottle-camera-sunglasses-earphone-map-diary-wooden-desk_23-2147856156.jpg?w=1380&t=st=1714667594~exp=1714668194~hmac=cdee9db4fff48ae5e6045dd736e118c771f03a76a90d9ca1d88556d24d3d6640);
  background-size: cover;
}

.App {
  text-align: center;
  backdrop-filter: blur(5px);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.otherItems {
  display: flex;
  justify-content: left;
  padding-left: 40px;
}

.similarComponents {
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding: auto;
}